@font-face {
    font-family: NanumGothic-Regular;
    src: url("/public/fonts/NanumGothic.eot");
    src: url("/public/fonts/NanumGothic.woff") format("woff"),
        url("/public/fonts/NanumGothic-Regular.ttf") format("truetype");
}
* {
    font-family: NanumGothic-Regular;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boardSec {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}
.flexCenterWrap {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    *background-color: rgba(0, 0, 0, .1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}
