#playingSec {
    transition: transform .5s;
    transform: translate(0, -105%);
}
#oMusicArt.playingSec #playingSec {
    transform: translate(0, 0) !important;
}
/* UploadSec.css */
#uploadSec {}
#playingDiv {
    transition: background-image .5s;
}
#playingDiv::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .3);
}
.control_btn {
    width: 75px;
    height: 150px;
    z-index: 1;

    transition: transform .5s;
}
.control_btn:hover {
    transform: scale(1.2, 1.2);
}

#infoDiv {
    margin: 0 150px;
    min-width: 400px;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 1;
}
#albumArt {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5), 0 1px 10px rgba(0, 0, 0, 0.5), 0 2px 25px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    transition: background-image .5s;
}
#playlistSec {
    padding: 160px 0;
    width: 400px;
    height: 400px;
    color: rgba(255, 255, 255, 0);
    *border-radius: 50%;
    overflow-y: scroll;

    transition: background-color .5s, color .5s;
}
#playlistSec:hover {
    background-color: rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, 1);
}
.songDiv {
    height: 50px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

#currentSongInfoDiv {
    margin: 30px 0 0 0;
    height: 100px;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1), 0 1px 7px rgba(0, 0, 0, .5), 0 1px 10px rgba(0, 0, 0, .5);
    z-index: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#currentSongInfo_name {
    color: rgba(255, 255, 255, 1);
    font-size: 120%;
}
#currentSongInfo_artist {
    color: rgba(255, 255, 255, .8);
    font-size: 95%;
}
#progressCanvas {
    margin: 20px 0 0 0;
    *background-color: rgba(0,0,0,.1);
}