#signDiv > div {
    width: 300px;
    height: 350px;
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3), 0 1px 10px rgba(0, 0, 0, .3);
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .5), 0 1px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
}
#moveContainer {
    position: relative;
    transition: transform .5s;
    display: flex;
}
#moveContainer.signSec_pageTwo {
    transform: translateX(-100%);
}
#moveContainer.signSec_pageTwo #signUpSecSpan {
    transform: translateX(calc(100% + 10px));
}
.signSec_page {
    min-width: 300px;
    min-height: 350px;
    max-width: 300px;
    max-height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
input {
    padding: 7px 10px;
    margin: 10px;
    width: 250px;
    background-color: rgba(0, 0, 0, .5);
    border: none;
    outline: none;
    font-size: 100%;
    color: #ffffff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .2), 0 1px 5px rgba(0, 0, 0, .2);
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, .5);
}

#signInSec {
    justify-content: flex-start;
}
.signSec_btn {
    margin: 5px;
    cursor: pointer;
}
#signInSec.verified #signUpSecSpan {
    visibility: hidden;
}
#signUpSecSpan {
    position: absolute;
    top: 0;
    right: 0;

    transition: transform .5s ease-out;
}
#logo {
    margin: 10px 0 20px 0;
    width: 150px;
    height: 150px;
    background-color: rgba(0, 0, 0, .5);
    background-image: url("/public/images/S/technology-music-sound-things.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#signInSec > div:nth-child(4) {
    width: 250px;
}
#signInSec > div > input {
    margin: 5px 0;
    text-align: center;
}
#signInSec.verified #signInput_email {
    background-color: rgba(0, 0, 0, .1);
}
#signInSec.verified.edit-mode #signInput_passwd {
    background-color: rgba(0, 0, 0, .1);
}
#signModeSpan {
    cursor: default;
}
#helpSpan {
    padding: 0 5px;
    align-self: flex-start;
}

#signUpSec input.checked {
    background-color: rgba(0, 50, 20, .3);
}
#signUpSec input.error {
    background-color: rgba(70, 0, 0, .3);
}
#signUpSpan {
    color: rgba(255, 255, 255, .5);
}
#signUpSpan.emailChecked.passwordChecked.confirmPasswordChecked {
    color: #ffffff;
}

























/*#signInSec {
    background-image: url("/public/images/S/technology-music-sound-things.jpg");

    flex-direction: column;
}
#signInput_email {
    padding: 7px 10px 7px 10px;
    margin: 2px;
    width: 250px;
    background-color: rgba(200, 200, 200, .3);
    border: none;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    outline: none;
    color: #ffffff;
    font-size: 105%;
    text-align: center;

}
#signInSec > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signSec_btn {
    margin: 5px;
    color: #ffffff;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 1), 0 1px 7px rgba(0, 0, 0, .5);
    cursor: pointer;
}
#helpSpan {
    padding: 0 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);

    align-self: flex-end;
}
#signUpSec {
}
#signUpSec > form {
    padding: 30px 20px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3), 0 1px 10px rgba(0, 0, 0, .3);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#signUpSec > form > input {
    padding: 7px 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    outline: none;
    color: #ffffff;

}*/