#uploadSec {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 70px;
    height: 70px;
}
#upload_btn {
    width: 100%;
    height: 100%;
    *background-color: #fff;
}
#uploadCanvas {
    border-radius: 50%;
}


#uploadForm {
    display: none;
}